<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>随便聊点啥</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <section>
    <header>随便聊聊</header>
    <main>
     
      <div id='postings'>
        <!-- <div class="posting">
          <div>
            <p>楼</p>
          </div>
          <div>
            <p>用户名</p>
            <p>内容</p>
            <p>时间</p>
          </div> -->
        </div>

      </div>
       <div id="input">
        <div><label for="user">昵称：</label><input type="text" id="user"></div>
        <div><label for="content">内容：</label><textarea id="content"></textarea></div>
        <div><button id="sub">发送</button></div>

      </div>

    </main>
    <footer><a href="http://www.miitbeian.gov.cn/">粤ICP备17108699号</a></footer>
  </section>

  <script src="/js/main.js"></script>
</body>

</html> 